<?php
/**
 *  Whilelist Acl
 * 
 * return [
 *   'adteam_core_authorization'=>[
 *       'router_public'=>[
 *           ['resource'=>'ZF\OAuth2\Controller\Auth::token','method'=>'POST']          
 *       ]
 *   ]
 * ];  
 * 
 */